html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ede5d5;
  font-family: "Mona Sans", sans-serif;
}

#header{
  width: 100%;
  text-align:center;
}
h1{
  font-size: 45px;
}

h2{
  margin: 10px 0px;
}
#usa-map{
  width:50%;
  min-width:300px;
}

#card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;

}

.card {
  width: 25%;
  min-width: 250px;
  padding: 20px;
  border: 5px solid;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0, 0.5); /*offset x, offset y, blur radius*/
  margin: 10px;
}

.card p{
  margin: 10px 0px;
}

.rep{
  border-color: #a8241b;
}
.rep .party{
  color: #a8241b;
}

.dem{
  border-color: #123478;
}

.dem .party{
  color: #123478;
}

.ind{
  border-color: #999b9e;
}

.ind .party{
  color: #999b9e;
}

.party{
  font-size: 22px;
  font-weight:bold;
}
.btn{
  background-color: #42a13b;
  color: #FFFFFF;
  border: 2.5px solid #FFFFFF;
  text-decoration: none;
  color: FFFFFF;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  margin: 5px;
  float: right;
}

.btn:hover, .btn:focus{
  background-color: #6ec767;
}

#sort-options{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align:center;
}

.sort-dropdown{
  font-size: 25px;
  width: 250px;
  margin: 0px 20px;
}

/* ************ STARTER CSS ************** */

/* .main-header {
  background-color: rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
} */
/* 
.title {
  text-align: center;
  margin: 0;
  font-size: 8em;
  font-family: "Helvetica";
  font-weight: normal;
  color: white;
} */

/* 
.card-content {
  padding: 20px;
  font-family: "Verdana";
  color: #777;
}

.card-content h2 {
  margin-top: 0;
  font-size: 20px;
}

.card img {
  width: 100%;
  height: auto;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

button {
  text-align: center;
  background-color: #666;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin: 5px;
} */
